---
import '@/styles/index.css'
import "@fontsource-variable/plus-jakarta-sans/wght-italic.css"
import "@fontsource-variable/plus-jakarta-sans"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Copywork">
  <main></main>
</Layout>
