---
import SwiperComponent from "@/components/swiper/Swiper.astro"
import "@fontsource-variable/plus-jakarta-sans/wght-italic.css"
import "@fontsource-variable/plus-jakarta-sans"
import "@/styles/swiper.css"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Swiper">
  <div class="mx-auto">
    <SwiperComponent />
  </div>
</Layout>
