---
import Layout from '../layouts/Layout.astro'
import SwiperComponent from '@/components/swiper/Swiper.astro'
---

<Layout title='Onboarding'>
  <div class="mx-auto">
    <SwiperComponent />
  </div>
</Layout>
