---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="Topography Generator">
  <svg
    class="svg-filters"
    width="0"
    height="0"
    viewBox="0 0 0 0"
    xmlns="http://www.w3.org/2000/svg"
    version="1.1"
  >
    <defs>
      <filter id="topography">
        <!-- modify seed, freq as necessary -->
        <feTurbulence
          seed="0"
          type="fractalNoise"
          baseFrequency="0.0033"
          numOctaves="1"></feTurbulence>
        <feColorMatrix type="saturate" values="0" result="noise"
        ></feColorMatrix>

        <feComponentTransfer in="noise" result="h1">
          <feFuncA type="table" tableValues="-220 100"></feFuncA>
        </feComponentTransfer>
        <feMorphology operator="dilate" radius="1"></feMorphology>
        <feComposite in2="h1" result="a1" operator="out"></feComposite>

        <feComponentTransfer in="noise" result="h2">
          <feFuncA type="table" tableValues="-160 100"></feFuncA>
        </feComponentTransfer>
        <feMorphology operator="dilate" radius="1"></feMorphology>
        <feComposite in2="h2" result="a2" operator="out"></feComposite>

        <feComponentTransfer in="noise" result="h3">
          <feFuncA type="table" tableValues="-120 100"></feFuncA>
        </feComponentTransfer>
        <feMorphology operator="dilate" radius="1"></feMorphology>
        <feComposite in2="h3" result="a3" operator="out"></feComposite>

        <feComponentTransfer in="noise" result="h4">
          <feFuncA type="table" tableValues="-80 100"></feFuncA>
        </feComponentTransfer>
        <feMorphology operator="dilate" radius="1"></feMorphology>
        <feComposite in2="h4" result="a4" operator="out"></feComposite>

        <feComponentTransfer in="noise" result="h5">
          <feFuncA type="table" tableValues="-50 100"></feFuncA>
        </feComponentTransfer>
        <feMorphology operator="dilate" radius="1"></feMorphology>
        <feComposite in2="h5" result="a5" operator="out"></feComposite>

        <feComposite in="a1" in2="a2" result="c1" operator="over"></feComposite>
        <feComposite in="c1" in2="a3" result="c2" operator="over"></feComposite>
        <feComposite in="c2" in2="a4" result="c3" operator="over"></feComposite>
        <feComposite in="c3" in2="a5" result="c4" operator="over"></feComposite>

        <feComponentTransfer in="c4" result="c5">
          <feFuncR type="discrete" tableValues="0 1 0 1"></feFuncR>
          <feFuncG type="discrete" tableValues="0 1 0 1"></feFuncG>
          <feFuncB type="discrete" tableValues="0 1 0 1"></feFuncB>
          <feFuncA type="discrete" tableValues="0 1 0 1"></feFuncA>
        </feComponentTransfer>

        <feComposite in="SourceAlpha" in2="c5" operator="out" result="alpha"
        ></feComposite>
        <feComposite in="SourceGraphic" operator="in"></feComposite>
      </filter>
    </defs>
  </svg>
  <div></div>
</Layout>

<style>
  html {
    background: hsl(10deg 30% 95%);
  }

  div {
    position: fixed;
    inset: 10vmin;
    background: hsl(20deg 20% 75%);
    filter: url(#topography);
  }
</style>
