---
import Layout from "@/layouts/Layout.astro"
---

<Layout title="tridiv">
  <div id="tridiv">
    <div
      class="scene"
      style="-webkit-transform:rotateX(-21deg) rotateY(9deg); -moz-transform:rotateX(-21deg) rotateY(9deg); -ms-transform:rotateX(-21deg) rotateY(9deg); transform:rotateX(-21deg) rotateY(9deg); "
    >
      <div class="shape cuboid-1 cub-1">
        <div class="face ft">
          <div
            class="photon-shader"
            style="background-color: rgba(0, 0, 0, 0.13);"
          >
          </div>
        </div>
        <div class="face bk">
          <div class="photon-shader" style="background-color: rgb(0, 0, 0);">
          </div>
        </div>
        <div class="face rt">
          <div
            class="photon-shader"
            style="background-color: rgba(0, 0, 0, 0.13);"
          >
          </div>
        </div>
        <div class="face lt">
          <div
            class="photon-shader"
            style="background-color: rgba(0, 0, 0, 0.13);"
          >
          </div>
        </div>
        <div class="face bm">
          <div
            class="photon-shader"
            style="background-color: rgba(0, 0, 0, 0.13);"
          >
          </div>
        </div>
        <div class="face tp">
          <div
            class="photon-shader"
            style="background-color: rgba(0, 0, 0, 0.13);"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>


<style>
  /* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */ #tridiv {
    perspective: 800px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 100%;
}
.scene, .shape, .face, .face-wrapper, .cr {
  position: absolute;
  transform-style: preserve-3d;
}
.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
}
.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
}
.face, .face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}
.face {
  background-size: 100% 100%!important;
  background-position: center;
}
.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%
}
.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.side {
  left: 50%;
}
.cr, .cr .side {
  height: 100%;
}
[class*="cuboid"] .ft, [class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}
[class*="cuboid"] .bk {
  left: 100%;
}
[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .tp {
  transform: rotateX(90deg) translateY(-50%);
}
[class*="cuboid"] .bm {
  transform: rotateX(-90deg) translateY(-50%);
}
[class*="cuboid"] .lt {
  left: 100%;
}
[class*="cuboid"] .bm {
  top: 100%;
}
/* .cub-1 styles */
.cub-1 {
  transform:translate3D(1.9375em, -2.375em, 1.5em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  opacity:1;
  width:4em;
  height:5em;
  margin:-2.5em 0 0 -2em;
}
.cub-1 .ft {
  transform:translateZ(1.5em);
}
.cub-1 .bk {
  transform:translateZ(-1.5em) rotateY(180deg);
}
.cub-1 .rt, .cub-1 .lt {
  width:3em;
  height:5em;
}
.cub-1 .tp, .cub-1 .bm {
  width:4em;
  height:3em;
}
.cub-1 .face {
  background-color:#FFFFFF;
}
.cub-1 .ft {
  background-color:#59c62a;
}
.cub-1 .bk {
  background-color:#cf4a4a;
}
.cub-1 .tp {
  background-color:#ec6a6a;
}
.cub-1 .bm {
  background-color:#090606;
}
.cub-1 .lt {
  background-color:#a85bdc;
}
.cub-1 .rt {
  background-color:#2975c2;
}
</style>

