---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
 
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
 
    --border: 220 13% 91%;
    --input: 220 13% 91%;
 
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
 
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
 
    --ring: 217.9 10.6% 64.9%;
 
    --radius: 0.5rem;

    --font-sans: 'Plus Jakarta Sans Variable';
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
 
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
 
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
 
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
 
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
 
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
 
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 215 27.9% 16.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .font-tnum {
    font-variant-numeric: tabular-nums;
  }
  .font-pnum {
    font-variant-numeric: proportional-nums;
  }
  .font-onum {
    font-variant-numeric: oldstyle-nums;
  }
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: hsl(217.9 10.6% 64.9% / 0.3) hsl(220 14.3% 95.9%);
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    background: hsl(220 14.3% 95.9%);
  }
  .custom-scrollbar::-webkit-scrollbar-button {
    display: none;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: hsl(220 14.3% 95.9%);
    border-radius: 0;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: hsl(217.9 10.6% 64.9% / 0.3);
    border-radius: 0;
  }
}
</style>
